.header-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    margin: 20px 0;
}
  
   
.platinum {
    background: linear-gradient(45deg, #e5e4e2, #b0c4de); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  

.gym {
color: #000;
} 


.header-link img {
    height: 2.5rem;   
    width: auto;      
}


#titolo {
    font-size: 2.5rem;  
    margin: 0 1rem;     
    line-height: 1;
    text-align: center;
}
  